<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">

  <title>DSC-DUT | Shorten URL tool</title>
  <link rel="stylesheet" href="/css/style.css">
  <link rel="shortcut icon" href="/img/dscicon.png">
</head>

<body>
  <div id="app">
    <div class="logo">
      <div>
        <img class="logo-image" src="/img/dscicon.png" />
      </div>
      <div class="logo-font">
        <div>
          Developer Student Clubs
        </div>
        <div>
          DaNang University of Science and Technology
        </div>
      </div>
    </div>
    <div class="input-group-bg">
      <div style="font-family: system-ui;padding: 12px;">
        <h2 class="title-shorten">
          Shorter URL, less pain for your eyes
        </h2>
        <form id="form-submit">
          <input class="input-link" id="input-url" placeholder="Insert long URL here..." type="text">
          <button class="button-submit" id="submit-url">
            Shorten URL
          </button>
        </form>
        <br>
        <div class="output-group">
          <input class="output-link" id="output-url" placeholder="Shorten Link">
          <button id="copybt">
            <img class="iconCopy" src="/img/icon.png" />
          </button>
        </div>
      </div>
    </div>
  </div>
  <script src="/js/script.js"></script>
</body>

</html>