body{
  background-image: url("../img/bg-trim.svg");
  background-repeat: no-repeat;
  background-size: cover;
}

.logo{
top: 26px;
left: 27px;
width: 420px;
height: 70px;
opacity: 1;
background: transparent url('../img/DSC.png') 0% 0% no-repeat padding-box;
}
.input-group-bg{
  text-align: center;
  width: 700px;
  height: 350px;
  margin: auto;
  background: #FFFFFF 0% 0% no-repeat padding-box;
  box-shadow: 0px 3px 10px #0000000D;
  border-radius: 30px;
  opacity: 1;
  margin-top: 80px;
}
.title-shorten{
  font-size: 34px;
  font: normal normal medium 38px/48px Google Sans;
  letter-spacing: 0px;
  margin-top: 5px;
  color: #676C72;
  opacity: 1;
  font-weight: 500;

}
.input-link{
  width: 510px;
  height: 60px;
  background: #EFEFEF 0% 0% no-repeat padding-box;
  box-shadow: 0px 3px 6px #00000029;
  border-radius: 15px;
  border: #EFEFEF;
  opacity: 1;
  font-family: system-ui;
  color: #8B8F93;
  font-size:20px;
  padding-left: 30px;
}
.button-submit{
  width: 200px;
  height: 50px;
  margin-top: 25px;
  background: #4285F4 0% 0% no-repeat padding-box;
  box-shadow: 0px 3px 6px #00000029;
  border-radius: 15px;
  border:#4285F4 ;
  opacity: 1;
  font: normal normal bold 24px/30px Google Sans;
  letter-spacing: 0px;
  color: #FFFFFF;
  font-family: system-ui;
  font-weight: 500;
}