body{
  background-image: url("../img/bg-trim.svg");
  background-repeat: no-repeat;
  background-size: cover;
}

.logo{
width: 420px;
height: 70px;
opacity: 1;
background: transparent url('../img/DSC.png') 0% 0% no-repeat padding-box;
}
input:focus{
  outline-width: 0; 
}
.input-group-bg{
  width: 700px;
  height: 384px;
  background: #FFFFFF 0% 0% no-repeat padding-box;
  box-shadow: 0px 3px 10px #0000000D;
  border-radius: 30px;
  opacity: 1;
  text-align: center;
}
.title-shorten{
  font-size: 34px;
  letter-spacing: 0px;
  margin-top: 14px;
  color: #676C72;
  opacity: 1;
  font-weight: 500;

}
.input-link{
  width: 510px;
  height: 60px;
  background: #EFEFEF 0% 0% no-repeat padding-box;
  box-shadow: 0px 3px 6px #00000029;
  border-radius: 15px;
  border: #EFEFEF;
  opacity: 1;
  font-family: system-ui;
  color: #8B8F93;
  font-size:20px;
  padding-left: 30px;
  margin-top: 5px;
}
.output-link{
  background: #EFEFEF 0% 0% no-repeat padding-box;
  /* box-shadow: 0px 3px 6px #00000029; */
  border-radius: 15px;
  border: #EFEFEF;
  opacity: 1;
  font-family: system-ui;
  color: #8B8F93;
  font-size:20px;
  padding-left: 30px;
  width: 82%;  
  height: 100%;
  border-top-right-radius: 0;
  border-bottom-right-radius: 0
}

button:focus{
  outline-width: 0;
}
.button-submit{
  width: 200px;
  height: 50px;
  margin-top: 28px;
  background: #4285F4 0% 0% no-repeat padding-box;
  box-shadow: 0px 3px 6px #00000029;
  border-radius: 15px;
  border:#4285F4 ;
  opacity: 1;
  font: normal normal bold 24px/30px Google Sans;
  letter-spacing: 0px;
  color: #FFFFFF;
  font-family: system-ui;
  font-weight: 500;
  cursor: pointer;
}

/* Dành cho điện thoại */
@media all and (min-width: 320px) {
  
}
/* Dành cho máy tính bảng chiều dọc */
@media all and (min-width: 600px) {

}
 
/* Dành cho máy tính bảng chiều ngang */
@media all and (min-width: 1024px) {

}

 
 
