:root {
  --color-blue: #4285f4;
  --color-blue-darker: #356fcc;
  --color-green: #34a853;
  --color-yellow: #fbbc05;
  --color-red: #ea4335;
  --color-red-darker: #c23124;
  --color-gray: #727272;
  --color-gray-lighter: #a1a1a1;
  --color-gray-darker: #5e5e5e;

  --shadow-base: 1px 2px 15px 0px rgba(0, 0, 0, 0.2);
  --shadow-light: 1px 2px 15px 0px rgba(1, 0, 56, 0.15);
}

* {
  font-family: Google Sans;
  color: var(--color-gray);
}

body {
  padding: 0;
  margin: 0;
  background-image: url("/img/bg-trim.svg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

.swal-title {
  margin-bottom: 2rem;
}

#app {
  position: relative;
  width: 100vw;
  height: 100vh;
}

#app-logo {
  position: absolute;
  top: 1rem;
  left: 1rem;
}

#app-logo img {
  height: 70px;
}

#app-loader {
  position: fixed;
  z-index: 9999999;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: white;
  display: flex;
  align-items: center;
  justify-content: center;
}

#app-container {
  background-color: white;
  padding: 1.5rem;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  border-radius: 1rem;
  box-shadow: var(--shadow-base);
}

#app-button-myurls {
  display: none;
}

.app-button-right {
  position: absolute;
  top: 1.5rem;
  right: 2rem;
  display: flex;
  align-items: center;
}

.app-button-right > a {
  text-decoration: none;
}

.app-button-right > a:last-child,
.app-button-right > .app-avatar {
  margin-left: 0.5rem;
}

.abcRioButtonContents > span {
  color: white;
}

.app-avatar {
  display: none;
  width: 3rem;
  height: 3rem;
  object-fit: cover;
  border-radius: 50%;
  box-shadow: var(--shadow-base);
  cursor: pointer;
}

.tippy-content {
  padding: 0;
}

#tippy-1 {
  box-shadow: var(--shadow-base);
}

#tippy-1,
#tippy-1 > .tippy-box,
#tippy-1 > .tippy-box > .tippy-content,
#tippy-1 > .tippy-box > .tippy-content > .app-account-menu {
  background-color: white;
  width: 20rem;
  height: 24rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  border-radius: 5px;
}

.app-account-menu > .account-avatar {
  width: 6rem;
  height: 6rem;
  object-fit: cover;
  border-radius: 50%;
  margin-bottom: 1rem;
}

.app-account-menu > .account-name {
  font-size: 1.2rem;
  font-weight: bold;
  margin-bottom: 0.2rem;
}

.app-account-menu > .account-email { 
  font-size: 1rem;
  margin-bottom: 2rem;
}

.app-account-menu > button {
  background-color: white;
  color: var(--color-blue);
  width: 80%;
  font-size: 1rem;
  border-radius: 5px;
  border: 1px solid var(--color-blue);
  cursor: pointer;
  padding: 0.5rem;
}

.app-account-menu > button:hover {
  background-color: var(--color-blue);
  color: white;
}

.app-account-menu > button:last-child {
  margin-top: 10px;
}

.app-input {
  display: block;
  height: 50px;
  width: 100%;
  border: none;
  border-radius: 0.5rem;
  box-shadow: var(--shadow-light);
  box-sizing: border-box;
  font-size: 1.5rem;
  padding: 10px;
  margin-bottom: 1.5rem;
  color: var(--color-green);
}

.app-input:focus {
  outline: none;
}

.app-input::placeholder {
  color: var(--color-gray-lighter);
}

.app-input.slug,
.app-input.search {
  color: var(--color-yellow);
}

.app-input.search {
  height: 40px;
  width: 14.5rem;
  font-size: 1rem;
  border: 1px solid var(--color-yellow);
  margin-bottom: 0;
}

.app-input-container {
  display: flex;
  align-items: center;
}

.icon-search {
  position: absolute;
  cursor: pointer;
  font-size: 1.2rem;
  right: 2.5rem;
}

.app-button {
  display: inline-block;
  padding: 0.5rem 1rem;
  border: none;
  border-radius: 0.5rem;
  transition-duration: 300ms;
  background-color: var(--color-blue);
  box-shadow: var(--shadow-light);
  font-weight: bold;
  font-size: 1.2rem;
  color: white;
  cursor: pointer;
  margin: auto;
}

.app-button:hover {
  background-color: var(--color-blue-darker);
}

.app-button.submit {
  margin-left: 1rem;
}

.app-button.error {
  background-color: var(--color-red);
}

.app-button.error:hover {
  background-color: var(--color-red-darker);
}

.app-button.cancel {
  background-color: var(--color-gray-lighter);
}

.app-button.cancel:hover {
  background-color: var(--color-gray);
}

.text-right {
  text-align: right;
}

.hidden {
  display: none !important;
}

.myurls-container {
  height: 75vh;
  width: 75vw;
  margin-top: 30px;
}

.myurls-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.myurls-header-left {
  display: flex;
  align-items: center;
}

.myurls-total-view {
  background-color: var(--color-yellow);
  font-weight: normal;
  margin-right: 1rem;
}

.myurls-checkbox {
  min-width: 1.5rem;
  min-height: 1.5rem;
  cursor: pointer;
  margin-top: 0.2rem;
  margin-left: 0.5rem;
}

.myurls-title {
  font-size: 3rem;
  text-align: center;
  margin: 0;
}

.myurls-list {
  margin-top: 2rem;
}

.myurls-item {
  background-color: white;
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-radius: 0.5rem;
  box-shadow: var(--shadow-light);
  padding: 0.5rem;
  margin-bottom: 1rem;
}

.myurls-item-left {
  display: flex;
  align-items: flex-start;
  width: 70%;
}

.myurls-urls {
  width: 100%;
}

.myurls-urls div {
  display: flex;
  align-items: center;
  margin: 0.5rem;
}

.myurls-urls div:first-child {
  color: var(--color-green);
  font-weight: bold;
}

#myurls-item-edit input {
  height: 1.5rem;
  width: 100%;
  font-weight: normal;
  border: none;
  border-radius: 0.5rem;
  box-shadow: var(--shadow-light);
  padding: 0.5rem;
  margin: 0.2rem 0;
}

#myurls-item-edit input:last-child {
  width: calc(100% - 1.5rem);
}

.myurls-item-right {
  display: flex;
  align-items: center;
}

.myurls-item-view {
  color: var(--color-yellow);
  margin-left: 0.5rem;
}

.myurls-icon {
  font-size: 1.5rem;
  margin-left: 1rem;
  cursor: pointer;
}

#myurls-item-edit .myurls-icon {
  font-size: 2rem;
}

.myurls-icon.fa-eye {
  color: var(--color-yellow);
}

.myurls-icon:last-child {
  color: var(--color-red);
  margin-right: 0.5rem;
}

.fa-edit,
.fa-copy,
.fa-check-circle {
  color: var(--color-blue);
}

.fa-edit:hover,
.fa-copy:hover,
.fa-check-circle:hover {
  color: var(--color-blue-darker);
}

.myurls-icon:last-child:hover {
  color: var(--color-red-darker);
}