<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <meta name="description" content="Shorter URL, less pain for your eyes" />
  <meta name="og:image" content="https://res.cloudinary.com/ichhoa129/image/upload/v1682321153/icon_tvxp1y.png" />
  <meta name="google-signin-client_id" content="447057606072-46pc0nkf261rke0uad0c6ecenr5tajlb.apps.googleusercontent.com">

  <title>GDSC-DUT | Shorten URL tool</title>

  <link rel="preconnect" href="https://fonts.googleapis.com" />
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
  <link href="https://fonts.googleapis.com/css2?family=Google+Sans&display=swap" rel="stylesheet" />
  <link rel="stylesheet" href="/css/style.css" />
  <link rel="stylesheet" href="/css/loader.min.css" />
  <link rel="stylesheet" href="/css/loadmore.min.css" />
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/animate.css/4.1.1/animate.min.css" />
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css"
    integrity="sha512-1ycn6IcaQQ40/MKBW2W4Rhis/DbILU74C1vSrLJxCq57o941Ym01SwNsOMqvEBFlcgUa6xLiPY/NS5R+E6ztJQ=="
    crossorigin="anonymous" referrerpolicy="no-referrer" />
  <link rel="shortcut icon" href="/img/favicon.ico" type="image/x-icon" />
</head>
