<meta charset="UTF-8">
<div id="app-loader" class="animate__animated animate__fadeOut">
  <div class="loader">
    <div class="dot dot1"></div>
    <div class="dot dot2"></div>
    <div class="dot dot3"></div>
    <div class="dot dot4"></div>
    <div class="dot dot5"></div>
    <div class="dot dot6"></div>
    <div class="dot dot7"></div>
  </div>
</div>