<!DOCTYPE html>
<html lang="en">
	<%- include('./partials/head'); %>

	<body>
		<div id="app">
			<a id="app-logo" href="/">
				<img src="/img/logo.png" alt="DSC-DUT Logo" />
			</a>
			<div class="app-button-right">
				<div id="my-signin2" data-onsuccess="onSignIn"></div>
				<a
					id="app-button-myurls"
					class="app-button"
					type="button"
					href="/a/admin/myurls"
					>My URLs</a
				>
				<img id="app-avatar" class="app-avatar" />
			</div>
			<div id="tippy-1" style="display: none">
				<div class="app-account-menu">
					<img id="account-menu-avatar" class="account-avatar" />
					<div id="account-menu-name" class="account-name"></div>
					<div id="account-menu-email" class="account-email"></div>
					<button id="account-menu-switch">Switch account</button>
					<button id="account-menu-signout">Sign out</button>
				</div>
			</div>
			<div id="app-container">
				<h1>Shorter URL, less pain for your eyes</h1>
				<div
					id="login-prompt"
					style="
						display: flex;
						align-items: center;
						justify-content: center;
					"
				>
					<p
						style="
							font-size: 20px;
							color: #4285f4;
							font-weight: bold;
							text-align: center;
						"
					>
						Please sign in to shorten your URL
					</p>
				</div>
				<form id="app-form">
					<input
						type="text"
						class="app-input"
						id="app-input-url"
						placeholder="Input your url"
					/>
					<input
						type="text"
						class="app-input slug"
						id="app-input-slug"
						placeholder="Input your custom slug"
					/>
					<div id="my-recaptcha" class="my-recaptcha"></div>
					<div>
						<button
							id="app-button-cancel"
							class="app-button cancel"
							type="button"
						>
							Clear
						</button>
						<button
							id="app-button-submit"
							class="app-button submit"
							type="submit"
						>
							Shorten URL
						</button>
					</div>
				</form>
			</div>
			<%- include('./partials/loader'); %>
		</div>

		<%- include('./partials/gtag'); %> <%- include('./partials/script'); %>
	</body>
</html>
