<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />

  <title>DSC-DUT | Shorten URL tool</title>
  <link rel="preconnect" href="https://fonts.googleapis.com" />
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
  <link href="https://fonts.googleapis.com/css2?family=Google+Sans&display=swap" rel="stylesheet" />
  <link rel="stylesheet" href="/css/style.css" />
  <link rel="stylesheet" href="/css/loader.min.css" />
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/animate.css/4.1.1/animate.min.css" />
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css"
    integrity="sha512-1ycn6IcaQQ40/MKBW2W4Rhis/DbILU74C1vSrLJxCq57o941Ym01SwNsOMqvEBFlcgUa6xLiPY/NS5R+E6ztJQ=="
    crossorigin="anonymous" referrerpolicy="no-referrer" />
  <link rel="shortcut icon" href="/img/favicon.ico" type="image/x-icon" />
</head>

<body>
  <div id="app">
    <div id="app-logo">
      <img src="/img/logo.png" alt="DSC-DUT Logo" />
    </div>
    <a id="app-button-shorten" class="app-button right shorten" type="submit" href="./">Shorten URL</a>
    <div id="app-container">
      <h1>Sign in to manage your URLs</h1>
      <form id="app-form">
        <input type="email" class="app-input" id="app-input-email" placeholder="Input your email" />
        <div class="app-input-container">
          <input type="password" id="app-input-password" class="app-input password" placeholder="Input your password" />
          <i id="icon-show-password" class="icon-show-password icon-signin far fa-eye-slash"
            onClick="togglePassword()"></i>
        </div>
        <div class="app-remember-forgot">
          <div class="app-remember-container">
            <input type="checkbox" class="checkbox-remember" />
            <span>Remember me</span>
          </div>
          <a href="/forgot" class="forgot-password">Forgot your password?</a>
        </div>
        <button id="app-button-submit" class="app-button sign" type="submit">
          Sign in
        </button>
        <div class="app-link-sign">
          <span>Don’t have an account? </span>
          <a href="/signup" class="link-sign">Sign up</a>
        </div>
      </form>
    </div>
    <%- include('./partials/loader'); %>
  </div>
  <script src="https://unpkg.com/sweetalert/dist/sweetalert.min.js"></script>
  <script src="/js/script.js" defer></script>
  <!-- Global site tag (gtag.js) - Google Analytics -->
  <script async src="https://www.googletagmanager.com/gtag/js?id=G-NMY3QQNKFS">
  </script>
  <%- include('./partials/gtag'); %>npm install --save-dev husky
    <script>
      function togglePassword() {
        var x = document.getElementById("app-input-password")
        var y = document.getElementById("icon-show-password")
        const type = x.type === "password" ? "text" : "password"
        x.type = type
        y.classList.contains("fa-eye-slash") ? y.classList.replace("fa-eye-slash", "fa-eye") : y.classList.replace("fa-eye", "fa-eye-slash")
      }
    </script>
</body>

</html>