<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <script src="https://apis.google.com/js/platform.js" async defer></script>
    <meta
      name="google-signin-client_id"
      content="738121961360-3mrpcl63gmi6hlouv7lfrvfeqcj66ri8.apps.googleusercontent.com"
    />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
  </head>
  <body>
    <h1>Login</h1>
    <div class="g-signin2" data-onsuccess="onSignIn"></div>
    <a href="#" onclick="signOut();">Sign out</a>
    <script>
      function signOut() {
        var auth2 = gapi.auth2.getAuthInstance();
        auth2.signOut().then(function () {
          console.log('User signed out.');
        });
      }
    </script>
    <script>
      function onSignIn(googleUser) {
        var id_token = googleUser.getAuthResponse().id_token;
        var xhr = new XMLHttpRequest();
        xhr.open('POST', 'http://localhost:3000/a/api/auth/signin');
        xhr.setRequestHeader('Content-Type', 'application/json');
        xhr.onload = function () {
          console.log('Signed in as: ' + xhr.responseText);
        };
        xhr.send(
          JSON.stringify({
            tokenId: id_token,
          })
        );
      }
    </script>
  </body>
</html>
