<!DOCTYPE html>
<html lang="en">
<%- include('./partials/head'); %>

  <body>
    <div id="app">
      <div id="app-logo">
        <img src="/img/logo.png" alt="DSC-DUT Logo" />
      </div>
      <a id="app-button-shorten" class="app-button right" type="submit" href="./">Shorten URL</a>
      <div id="app-container">
        <h1>Sign up to manage your URLs</h1>
        <form id="app-form">
          <input type="email" class="app-input" id="app-input-email" placeholder="Input your email" />
          <div class="app-input-container">
            <input type="password" class="app-input password" id="app-input-password"
              placeholder="Input your password" />
            <i id="icon-show-password" class="icon-show-password icon-signup far fa-eye fa-eye-slash"></i>
          </div>
          <div class="app-input-container">
            <input type="password" class="app-input password" id="app-input-password-confirm"
              placeholder="Input your password again" />
            <i id="icon-show-password-confirm"
              class="icon-show-password icon-signup-confirm far fa-eye fa-eye-slash"></i>
          </div>
          <div id="error-password" class="error-password">
            <i class="fas fa-exclamation"></i>
            <span>Passwords do not match.</span>
          </div>
          <button id="app-button-submit" class="app-button sign" type="submit">
            Sign up
          </button>
          <div class="app-link-sign">
            <span>Have already an account? </span>
            <a href="/signin" class="link-sign">Sign in</a>
          </div>
        </form>
      </div>
      <%- include('./partials/loader'); %>
    </div>

    <%- include('./partials/gtag'); %>
      <%- include('./partials/script'); %>
        <script>
          $(document).ready(function () {
            $('#icon-show-password').click(function () {
              var password = $("#app-input-password")
              var isPasswordShow = password.prop("type") === "text";
              $(this).toggleClass("fa-eye-slash", isPasswordShow)
              password.attr("type", isPasswordShow ? "password" : "text")
            })

            $('#icon-show-password-confirm').click(function () {
              var password = $("#app-input-password-confirm")
              var isPasswordShow = password.prop("type") === "text";
              $(this).toggleClass("fa-eye-slash", isPasswordShow)
              password.attr("type", isPasswordShow ? "password" : "text")
            })
          })
        </script>
  </body>

</html>